{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
        "getter-return": "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "error",
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": "error",
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-misleading-character-class": "error",
        "no-obj-calls": "error",
        "no-prototype-builtins": "error",
        "no-sparse-arrays": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "use-isnan": "error",
        "valid-typeof": "error",
        "complexity": ["error", 6],
        "eqeqeq": "error",
        "no-empty-pattern": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-global-assign": "error",
        "no-multi-spaces": "error",
        "no-return-await": "error",
        "no-self-assign": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-useless-catch": "error",
        "no-useless-escape": "error",
        "no-useless-return": "error",
        "no-with": "error",
        "yoda": "error",
        "strict": "error",
        "camelcase": "error",
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "computed-property-spacing": "error",
        "eol-last": ["error", "never"],
        "func-call-spacing": ["error", "never"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "jsx-quotes": ["error", "prefer-single"],
        "key-spacing": ["error", { "afterColon": true }],
        "keyword-spacing": ["error", { "after": true }],
        "linebreak-style": ["error"],
        "lines-between-class-members": ["error", "always"],
        "max-depth": ["error", {"max": 3}],
        "max-len": ["error", {"code": 120}],
        "max-lines-per-function": ["error", 50],
        "max-params": ["error", {"max": 3}],
        "no-trailing-spaces": "error",
        "no-whitespace-before-property": "error",
        "padded-blocks": ["error", { "blocks": "never", "classes": "always", "switches": "never" } ],
        "prefer-object-spread": "error",
        "quotes": ["error", "single"],
        "semi": "error",
        "semi-spacing": ["error", {"before": false, "after": false}],
        "space-before-blocks": ["error", { "classes": "always" }],
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-var": "error",
        "prefer-const": "error",
        "prefer-destructuring": "error",
        "prefer-template": "error",
        "@typescript-eslint/await-thenable": "error",
        "@typescript-eslint/explicit-member-accessibility": "error",
        "@typescript-eslint/member-ordering": "error",
        "@typescript-eslint/no-empty-interface": "error",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-extraneous-class": "error",
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/no-implied-eval": "error",
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/prefer-for-of": "error",
        "@typescript-eslint/prefer-nullish-coalescing": "error",
        "@typescript-eslint/prefer-readonly": "error",
        "@typescript-eslint/switch-exhaustiveness-check": "error",
        "@typescript-eslint/no-magic-numbers": ["error", { "ignoreReadonlyClassProperties": true, "ignoreEnums": true }]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": { 
            "modules": true,
            "jsx": true
        },
        "project": "./tsconfig.json"
    }
}